.snapskill-resume-list-container {
  background-color: rgb(23 23 23 / 1);
  color: rgb(245 245 245 / 1);
  padding: 30px;
  height: 100vh;
}

.snapskill-resume-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.snapskill-resume-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}
